<html>
  <head>
    <title>Learning</title>
    <style>
body {background-color: #FFFFFF;
      color: 	#000000;
font-family: 'Khula', sans-serif;
  text-align: center; 
  font-size: 20px;
  font-weight: 100;
 border-style: double;
}

</style>
  </head>
  <body>
    <h1> Your results said that you love to learn!</h1>
    <p>You should go on a duck tour! These educational tours give you all sorts of information on the history of Boston, go in both the land and the water, and are also really Fun!</p>
    <img src="https://www.smartdestinations.com/img/pt/dest/Bos/att/Bos_Att_Boston_Duck_Tour_Bonus/gallery/Boston-Duck-Tour-Bonus-1.jpg">
    <p>For more information visit the<a href="http://www.bostonducktours.com/">Boston Duck Tour Website</a></p>
   <h2>Already went on a Boston Duck Tour and want another recomendation? Click <a href="/paid.erb">here</a> to get more recomendations!</h2>
  
  </body>
</html>


