<html>
  <head>
    <title>Entertainment </title>
    <style>
body {background-color: #FFFFFF;
      color: 	#000000;
font-family: 'Khula', sans-serif;
  text-align: center; 
  font-size: 20px;
  font-weight: 100;
 border-style: double;
}
</style>
  </head>
  <body>
    <h1> Your quiz said that you love entertainment!</h1>
    <p> You should go to TD Garden. This massive stadium in Boston hosts many concerts and sporting events throughout the year. You should go check them out!!</p>
    <img src="https://www.kimptonhotels.com/blog/wp-content/uploads/2015/01/TD-Garden.jpg">
    <p>For more information visit the<a href="https://www.tdgarden.com/">TD Garden Website </a></p>
    <h2>Already been to TD-Garden and want another recomendation? Click <a href="/shows.erb">here</a> to get more recomendations!</h2>
  </body>
</html>
