<html>
  <head>
    <title>Foodie</title>
    <style>
body {background-color: grey;
  text-align: center;
}
h1   {color: yellow;}
p    {color: yellow;}
</style>
  </head>
  <body>
    <h1>Your results said that you were a foodie!</h1>
    <p>You should go to Mike's Pastry's. This pastry shop in The North End is a vital part of any trip to Boston, and their iconic cannoli should not be overlooked.</p>
    <img src="https://lh3.ggpht.com/p/AF1QipNT1xKZZlQ_4scliM8u7l3-K3XK-h0eWQ-jB0RQ=w513-h384-n">
    <p>For more information visit the<a href="http://www.mikespastry.com/">Mikes Pastry Website</a></p>
  <h2>Already been to Mike's Pastry and want another recomendation? Click <a href="/food.erb">here</a> to get more recomendations!</h2>
  </body>
</html>
