<html>
<h1><p>Visiting Boston but don't know where to eat? Here are some of our favorite and best know bakeries in Boston!</p></h1>
<stlye> </stlye>
<body>
  <h1><u>Cafes and Bakeries</u></h1>
   

  <p><a href= "https://www.mikespastry.com/">Mike's Pastry:<a></p>
    <p>We understand that everybody's tastebuds are differnet, and our website only showcases our opinions on the resturaunts. Therefore, here is <a href= "https://www.yelp.com/biz/mikes-pastry-boston?osq=mikes+pastry">Yelp</a> so you guys can get more opinions on the resturaunts we recomened!</p>
  <p>Everyone who has been to Boston has gone to Mike's Pastry. Mike's Pastry is an incredible Italian bakery. They are known for their large amount of canolis which we highly recommend. Mike's Pastry is incredibly popular, easily the most famous bakery in Boston therefore, no matter what time of day there will always be a line outside Mike's Pastry. All three of us loves Mike's Pastry, all of the desserts are delicous and they are not too expensive. Desserts are about $3.50 each which is not too bad. Also it is important to know that the servings at Mike's Pastry are quite large so 2 people can easily share a dessert</p>
    <img src= "https://media-cdn.tripadvisor.com/media/photo-s/0f/15/5d/0c/photo1jpg.jpg">
 
<p><a href= "https://flourbakery.com/">Flour bakery:</a></p>
   <p>We understand that everybody's tastebuds are differnet, and our website only showcases our opinions on the resturaunts. Therefore, here is <a href= "https://www.yelp.com/biz/flour-bakery-caf%C3%A9-boston-4?osq=Flower+Bakery">Yelp</a> so you guys can get more opinions on the resturaunts we recomened!</p>
  <p>Flour Bakery is a great, classic cafe. They are a French-style bakery specializing in croissants, sticky buns and french pastries! If you are not a fan of junk food or you are on a diet Flour bakery is the place for you! The bakery also has a healthy option to their menu. Their "specialty" menu consist of whole wheat granola, currant spelt oat scone e.t.c. Flour Bakery is your typical cafe/bakery so we would recommend it to everybody who love cafe food. The food at Flour Bakery is not too expensive. The average dessert is  about $3.50 but more fancy desserts like croissants are more like $4!</p>
  <img src= "https://www.wonderwomenboston.com/resources/Pictures/definitely-flour-1.jpg"width=50%>
   
<p><a href= "https://www.georgetowncupcake.com">Georgetown Cupcakes:</a> Creativly-decorated cupcake shop. $$</p>
   <p>We understand that everybody's tastebuds are differnet, and our website only showcases our opinions on the resturaunts. Therefore, here is <a href= "https://www.yelp.com/biz/georgetown-cupcake-boston?osq=georgetown+cupcake">Yelp</a> so you guys can get more opinions on the resturaunts we recomened!</p>
  <p>Eventhough Georgetown Cupcakes is not Boston based, the bakery is one of the most famous bakeries in D.C and they actually had a show called Georgetown Cupcakes! Georgetown Cupcakes is quite sweet but if you have a sweet tooth we are sure you will love Georgetown Cupcakes! If you look at the picture you will notice that Georgetown Cupcakes has a signature look that is extremly simplistic and cute! Georgetown Cupcakes is a very well known bakery and we recommend everybody trying it once!</p>
  <img src= "https://www.georgetowncupcake.com/Assets/Banners/July2017OpeningScroller.jpg"width=50%>

  </body>
  </html>

