<html>
  <head>
    <title>Boston Website</title>
   
  </head>

  <body>
    <h1>Are you Looking for Something to Do in Boston?</h1>
    <h3>Our Website will give you a great selection of  <a href=shop.erb>">shopping</a>, 
<a href =food.erb>bakeries</a>, <a href =walking.erb>historic attractions</a>, <a href =walking.erb>scenic areas</a>, and <a href =shows.erb>live entertainment</a> within the area. Please click on one of the underlined words to discover the activities that are under that subject!</h3>
<img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/boston-skyline-at-night-panorama-jon-holiday.jpg">

  <h1>About the Coders:<h1>
  
    <h3>This website was created by Kelly Cotter, Kira Hartness and Ella Sklar! We all live in Massachusetts and we grew up loving our city, Boston! We have spent our childhood watching Tom Brady throw spirals and seeing the "The Daughters of Edward Darley Boit" by John Singer Sargent at the Museum of Fine Arts Boston. We wanted to teach our users about all the great things to do in Boston! We hope you find our website useful during your next visit to Boston!</h3>
     <img src= "https://mail.google.com/mail/u/0/?ui=2&ik=fc6e40a5a8&view=att&th=164a9df36217e4bc&attid=0.1&disp=safe&zw" width=50%>
      <h1>Our Inspiration:<h1>
        <h3>During our time at the Kode with Klossy summer camp in Boston we found that our instructors (who were from Hawaii and Baltimore) did not know what to do in Boston over the weekend!However, when they went to websites like Yelp only showed the basic attractions  unlike the hidden jems that are located in Boston. Therefore, the three scholars, Kelly, Kira and Ella decided to create a project that can help people like our instructors find great places to visit based on their preferences.<h3>
          <h1>TAKE OUR QUIZ!!</h1
          <h3>Please take the quiz<a href=index.erb>here</a>to find where you should visit today!</h3>
</body>
        <footer>
          <h1>Special Thanks!<h1>
            <h3>We would just like to designate this area of our website to thank Ms. Grace Park and Mrs.Megan and our TA's for teaching us everything we know about code!We would also like to thank Karlie Kloss and the Kode with Klossy program for teaching giving us the opportunity to make great friends and giving us a head start on our future's as computer programmers!<h3>
          
        </footer>
              </html>

