<html>
  <head>

    <title>Outdoors</title>
    <style>
body {background-color: grey;
  text-align: center;
}
h1   {color: yellow;}
p    {color: yellow;}
</style>
  </head>
  <body>
    <h1 style="color:blue;">Your results said that you were an Outdoor Lover!</h1>
    <p>You chould go to the Boston Common. This outdoor park in Boston is a great place to go for a jog, bike around, or even do some yoga!</p>
    <img src="https://www.theboxerboston.com/wp-content/uploads/2015/09/Boston-000060701660_Small.jpg">
    <h1><p>For more information visit the<a href="https://www.boston.gov/parks/boston-common">Boston Common Website</a></p></h1>
  <h2>Already been to Boston Commons and want another recomendation? Click <a href="/walking.erb">here</a> to get more recomendations!</h2>
  </body>
</html>
