<html>
  <head>
   <title></title>
    <link rel = "stylesheet" type = "text/css" href = "style.css">
  </head>
  <body>
    <h1><u>Paid Tours and Museums!</u><h1>
      <h3>Countless historic landmarks and monuments like the Boston Tea Party or even the oldest ballpark in history are located in the city of Boston! Therefore, there are many great tours and museums that will inform the public about Boston! On the other hand Boston is home to some of the finest Museums in the country! A trip to Boston in incomplete without visiting one of the these places!<h3>
        
        <h1>Boston Duck Tours!<h1>
          <h3>If you want a good laugh with some great people and a learn about the history of Boston at the same time we would highly recommend the Boston Duck Tours! It is a little bit expensive but you get a beautiful view of the Charles river while on the water, great laughs and the content of the tour is very informational. We would  recommend this to people of all ages but we would highly recommend this for kids ages 6-13 because young children are allowed to drive the duck boat for a little bit and they will get a "certificate" (sticker) for driving the boat! Down below we will put more information on the Duck Tours!<h3>
            <img 
                 src="https://i.ytimg.com/vi/1RhkQZf7Iuo/maxresdefault.jpg"width=50%>
            <h1><a href= "https://www.bostonducktours.com/">Here</a> is the link to the website to purchase your tickets and get more information on Boston Duck Tours!<h1>
            <p><ul><h4><u>Price:</h4></u>
            <li>Adult: $41.99</li>
              <li>Senior (Above 62 years old ) or Military: $33.99</li>
              <li>Child (Ages 3-11): $27.99</li>
              <li>Infants (Under 3 years old): $10.50</li>
              </ul>
              
              <h2>What we say on our website is only our opinion, therefore we recommend visting <a href= "https://www.yelp.com/biz/boston-duck-tours-boston-3">Yelp</a> to get more opinions on the tour to see if it is right for you and your company!</h2>
              
              
              <h1>Fenway Park Tour</h1>
              <h3>If you were unaware Fenway Park is full of rich history like the red chair or the morse code hidden on the scoreboard! If you are a fan of the Red Sox we would highly recommend visiting the Fenway Park tour! The cost of the tour is not too expensive. The tour lasts about one hour and it is incredibly fascinating. If you are lucky you will be able to walk on the field but a protip is to not go on the tour on game day because you will not be able to visit all of the attractions because they will be preparing for the game! This tour is great fun and we would recommend this tour to all baseball fans!<h3>
       
                <p><a href= "https://www.mlb.com/redsox/ballpark/tours">Here</a> is the link to the website for the Fenway Park tour. Go to this link to buy tickets and get more information on the tour!</p>
                
                <img src= "http://images.performgroup.com/di/library/omnisport/d1/cf/fenway-park_16qm8sojx9m3x1admhjwjfpy2u.jpg?t=535962585&w=960&quality=70"width=50%>
                
<ul><h1><u>Prices (For the One Hour Public Tour):</u></h1>
  <li>Adults: $20</li>
  <li>Children: $14</li>
  <li>Military: $17</li>
                </ul>
                
                <p>What we say on our website is only our opinion, therefore we recommend visting <a href= "https://www.yelp.com/biz/fenway-park-tours-boston?osq=fenway+park+tour">Yelp</a> to get more opinions on the tour to see if it is right for you and your company!<p>

 <h1>Museum of Fine Arts<h1>
   <h3>We at Boston 101 can't begin to talk about how amazing the Museum of Fine Arts is. All of the art absolutely beautiful and there is always a new exhibit to visit. The Museum of Fine arts is infact one of our favorite places in Boston to visit, regardless of the time of year! Besides looking at the art at the MFA you can eat at their restaurant an amazing book/gift store and you can even take art classes! We truly believe that if you enjoy art or like visiting museums you must visit the MFA!<h3>
     <img src= "https://media-cdn.tripadvisor.com/media/photo-s/05/dd/98/62/museum-of-fine-arts.jpg">
     <p><a href= "https://www.mfa.org/">Here</a> is the website for the Museum of Fine Arts. Here you can buy tickets and you can get more information on the museum!<p>
     <ul><h2><u>Prices:</u></h2>
       <li>Adults: $25</li>
       <li>Seniors (65 years old or older): $23</li>
       <li>Toddler (Under age 6): Free</li>
       <li>Children (Ages 7-17): Free on weekdays after 3pm and Boston Public School holidays otherwise, $10</li>
     </ul>            
        
     <p>What we say on our website is only our opinion, therefore we recommend visting <a href= "https://www.yelp.com/biz/museum-of-fine-arts-boston?osq=mfa">Yelp</a> to get more opinions on the tour to see if it is right for you and your company!<p>
     
     <h1>Museum of Science<h1>
       <h3>The Museum of Science does a great job making learning about science incredibly fun! Unlike most museums, the 
Museum of Science is essentially a bunch of labs that kids can do to learn about science! Plus, there are a bunch of other fun things like movies, energy shows lectures and even a roller coaster! I would highly recommend the Museum of Science for young kids and their parents! New exhibits and documentaries and movies are added to the museum all the time so there is always something new to do at the museum! 
The Museum of Science is a little bit expensive but it is a lot of fun! Some of our favorite memories were made in the Museum of Science. The Museum of Science is a great way to spend your weekends. In Fact, billionaire Michael Bloomberg, donated 50 million dollars to the Museum of Science because that's where he learned a lot about science! 
         <h3>
            <img 
                 src="https://media.timeout.com/images/101609685/630/472/image.jpg"width=50%>
            <h1><a href= "https://www.mos.org/?utm_source=advertising&utm_medium=search&utm_term=museum%20of%20science&utm_campaign=institutional">Here</a> is the link to the website to purchase your tickets and get more information on the Museum of Science!<h1>
            <p><ul><h4><u>Price:</h4></u>
            <li>Adult (Ages 12 and up): $28</li>
              <li>Senior (Above 60 years old ): $24</li>
              <li>Child (Ages 3-11): $23</li>
              </ul>
              
              <h2>What we say on our website is only our opinion, therefore we recommend visting <a href= "https://www.yelp.com/biz/museum-of-science-boston?osq=Museums">Yelp</a> to get more opinions on the tour to see if it is right for you and your company!</h2>
     <h1>Isabella Stewart Gardner Museum!<h1>
          <h3>The Isabella Stewart Gardner Museum is full of rich history! On March 18th 1990 in 81 minutes 2 men stole 13 paintings which all together were worth 500 million dollars at the Isabella Stewart Gardner Museum. To this day the paintings were never found, however, if you have any information on the location of the artwork you will get 10 million dollars! But besides the rich history the Isabella Stewart Gardner Museum still has lovely pieces of art (and 13 frames for the missing pieces of art) and a beautiful garden! We highly recommend this museum to lovers of art who are also interested in the history of the pieces of art. There is a lovely garden but this museum might not be the best for young children because there is a lack of hands on activities.
       <h3>
            <img 
                 src="https://www.smartdestinations.com/img/pt/dest/Bos/att/Bos_Att_Isabella_Stewart_Gardner_Museum/gallery/Isabella-Stewart-Gardner-Museum-1.jpg"width=50%>
            <h1><a href= "https://www.gardnermuseum.org/?gclid=CjwKCAjwyrvaBRACEiwAcyuzRBHGMARJHON3usbM-WUvPz04Hdy5lsmbxhUxPWp9X76Da3T8sbbBiBoC89oQAvD_BwE">Here</a> is the link to the website to purchase your tickets and get more information on the Isabella Stewart Gardner Museum!<h1>
            <p><ul><h4><u>Price:</h4></u>
            <li>Adult: $15</li>
              <li>Senior (Above 65 years old ): $12</li>
              <li>Students: $10</li>
              </ul>
              
              <h2>What we say on our website is only our opinion, therefore we recommend visting <a href= "https://www.yelp.com/biz/isabella-stewart-gardner-museum-boston-2?osq=Museums">Yelp</a> to get more opinions on the tour to see if it is right for you and your company!</h2>
              
  </body>
    <footer>
              </footer>
</html>


