<html>
  <head>
  <title>Shopaholic</title>
  <style>
body {background-color: grey;
  text-align: center;
}
h1   {color: yellow;}
p    {color: yellow;}

</style>
  </head>
  <body>
    <h1 style="color:blue;" Your results said that you were a shopaholic!</h1>
    <h2><p>You should go to Newbury Street. This street in boston is home to around 160 stores, and is a shopping hub in Boston. Be prepared to shop till you drop!!!</p></h2>
    <img src = "http://media.masslive.com/mass_river_boston_news/photo/ma-boston-newbury-stjpg-053960d03549a9d2.jpg">
    <h1><p>For more information visit the Newbury Street Website<a href= "http://www.newbury-st.com/"> here!</a></p></h1>
   <h2>Already been to Newbury Street and want another recomendation? Click <a href="/shop.erb">here</a> to get more recomendations!</h2>
    
  
  </body>
</html>


<div> <a href= "" ></a></div>
