<html>
  <head>
    <title>Live Entertainment</title>
  </head>
  <body>
    <h1>You have selected Live Entertainment! Here are some great places in Boston to enjoy Live Performances and Sporting Events: </h1>
    <p>This is TD Garden, Boston's main host of concerts for artists of all genres, and sporting events such as Celtics and Bruins games. The massive stadium is located on Legends Way, and is surrounded by many great restuarants such as Tavern in the Square and The Fours for you to grab a meal before you watch a game or a concert. </p>
     <img src="https://www.momspumphere.com/components/com_jplaces/files/images/1778031067td-garden_boston-bruins_boston-celtics_breastfeeding-nursing-mothers-lactation-room_outdoor-view.jpg"/>
    <a href ="https://www.tdgarden.com/">TD Garden Website</a>
     
    <br>
  
    <p>This is Sympohny Hall, which is a major part of Boston Entertainment that is owned by the Boston Symophny Orchestra. This theatre hosts many events all year long, including events for established groups such as The Boston Symphony Orchestra and The Boston Pops. You can also take both free and Private tours of the historical building, which give you a glimose of the rich history surrounding the hall. </p>
    <img src="http://lostnewengland.com/wp-content/uploads/2016/01/772_2015.jpg"/>
    <a href ="https://www.bso.org/">Boston Symphony Orchestra Website</a>
    
    <br>
    
    <p>This is Fenway Park. Fenway Park is a major attraction for both baseball lovers and history loves, and has been in the city since 1912, making it the oldest baseball stadium in the country. In addition to watching baseball games, the stadium also offers tours due to its rich history. The Home of The Boston Red Sox, and the residence of the iconic Green Monster is an extremely important part of Boston's history and culture, so make sure to check it out!!!</p>
    <img src="https://cdn.vox-cdn.com/thumbor/b680YaI4VA1lwtNYLkaR-7KMAGI=/0x0:4200x2798/1200x675/filters:focal(1764x1063:2436x1735)/cdn.vox-cdn.com/uploads/chorus_image/image/59217771/shutterstock_686863852.0.jpg">
    <a href="https://www.mlb.com/redsox/ballpark">Fenway Park Website</a>
    <br>
    
    <p>Another great entertainment aspect of Boston is The Boston Ballet. This Ballet performance comapny performs all year around at the Boston Opera House, and creates a varitey of vibrant and exciting ballet performances.</p>
    <img src="https://cdn10.bostonmagazine.com/wp-content/uploads/2014/10/boston-ballet-swan-lake-main.jpg">
         <a href="https://www.bostonballet.org/Home">Boston Ballet Website
    
    
    
  
  </body>
</html>
