<html>
  <head>
 
    <title>Free Activities</title>
  </head>
  <body>
    <h1>You have chosen outdoor activities! Here is a list of places we think would be good for jogging, biking, or even just walking around the beautiful city.</h1>
    <p>The Charles River Esplanade is a gorgeous state-owned park that runs alongside the charles river, and runs from the Museum of Science to the Boston University Bridge. There are multiple boating docks, playgrounds, and bridges that provide for a unique experience on the amazing path. There are also many public gathering areas where public exercising events are often hosted.</p>
    <img src="https://tclf.org/sites/default/files/thumbnails/image/CharlesRiverEsplanade_signature_TomKlein_2016_07.jpg">
         <a href="http://esplanadeassociation.org/the-esplanade/">Charles River Esplanade Website</a>
           
  <br> 
           
           
   <p>This is The Boston Common. This gorgeous park in the center of Boston is a great spot for taking a stroll, walking a dog, or even a picnic. The 50 acre public park is arguably the heart of Boston, due to its central location as well as the popularity of the park. The park has a couple historically monuments, in addition to the Swan Boats, which is a fun ride around the common that anyone would enjoy.Even if you are coming for a day trip, make sure to go to the park!</p>
           <img src="http://www.aviewoncities.com/img/boston/kveus115s.jpg">
    <a href="https://www.boston.gov/parks/boston-common">Boston Common Website</a>
           
  <br> 
           
 <p>This is Beacon Hill. This historic neighborhood was built in 1795, and is home to many residential homes and scenic views. The neighborhood was designed by Charles Bulfinch, and is close to many local shops, and is right across the street from The Boston Common.</p>
                  
           <img src="https://cdn.trolleytours.com/wp-content/uploads/2016/05/boston-beacon-hill-480x270.jpg">
           
    <a href="https://www.boston.gov/neighborhood/beacon-hill">Beacon Hill Website</a>
          
  
  </body>
</html>

